.hidden {
    display: none !important;
}

body {
    background: #6725A8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header {
    background: #6725A8;
    height: 88px;
    color: #FFFFFF;
    padding: 20px 24px;
    box-sizing: border-box;
    display: flex;
}

.header__nav-element {
    display: flex;
}

.menu-burger__container {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px 10px;
    position: relative;
}

.menu-burger__lines-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 24px;
    position: absolute;
    left: 9px;
    bottom: 11px;
}

.menu-burger__line {
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.company-name {
    width: 148px;
    font-style: normal;
    font-weight: 600;
    transform: scale(1.1, 1);
    letter-spacing: 1px;
    font-size: 21px;
    margin-left: 22px;
}

.header__searchbar {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.searchbar {
    height: 100%;
    margin: 0 32px;
    padding: 0 20px;
    width: 100%;
    border-radius: 36px;
    background-color: #8551B9;
    border: none;
    outline: none;
}

.searchbar::placeholder {
    font-style: normal;
    font-size: 18px;
    color: #fff;
    opacity: .5;
}

.header__searchbar::after {
    content: url("../icons/Search.svg");
    position: absolute;
    width: 0;
    right: 77px;
    bottom: 10px;
}

.header__navbar-container {
    display: flex;
}

.header__navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
}

.header__navbar-icon {
    margin-bottom: 5px;
}

.profile__container {
    margin-right: 40px;
}

.profile__icon {

}

.cart__icon {
    transform: scale(-1, 1);
}

.cart__amount-indicator {
    background-color: #F55123;
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 16px;
    right: 28px;
    top: 16px;
    text-align: center;
    font-size: 10px;
}

.main {
    background-color: #F6F6FA;
    border-radius: 24px;
    min-height: 600px;
    padding: 24px 24px 50px 24px;
    display: flex;
}

.main__container {
    flex: 1;
    padding-right: 32px;
    min-width: 640px;
}

.main__cart-name {
    font-style: normal;
    font-size: 28px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 27px;
}

.available-goods {
    margin-bottom: 40px;
}

.folding-header {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.choose-all_checkbox-block {
    display: flex;
}

.custom-checkbox {
    height: 22px;
    width: 22px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: solid 2px #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.real-checkbox:checked + .custom-checkbox {
    background-color: #CB11AB;
    border: none;
}

.custom-checkbox::before {
    content: url("../icons/Check.svg");
    transform: scale(0);
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: scale(1);
}

.choose-all__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 10px;
}

.choose-all__fold-flag {
    margin-left: auto;
}

.card {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: auto;
    padding: 16px 24px 24px 24px;
}


.result-block {
    margin-top: -2px;
    position: sticky;
    top: 10px;
    width: 100%;
/*    max-width: 429px;
    min-width: 303px;*/
    max-height: 604px;
    min-height: 572px;
    height: 100%;
    padding: 16px 24px 24px 24px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.3);
}
.available-item {
    display: flex;
    padding-top: 12px;
}

.available-item:not(.available-item:last-of-type) {
    margin-bottom: 20px;
}

.unavailable-goods {
    margin-bottom: 40px;
}

.unavailable-goods__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

}

.order-info-card:not(.order-info-card:last-of-type) {
    margin-bottom: 16px;
}

.footer {
    height: 64px;
    background-color: #6725A8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}



.available-item__check-and-photo {
    width: 106px;
    display: flex;
    justify-content: space-between;
}

.available-item__amount-info {
    width:  100px;
}

.choose-item_checkbox-block {
    display: flex;
    align-items: center;
    height: 96px;
}

.item-photo {
    width: 72px;
    height: 96px;
    object-fit: contain;
}

.available-item__description {
    width: 275px;
    margin-left: 16px;
}

.item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.item-params {
    display: flex;
    margin-top: 8px;
}

.item-params-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
}

.item-params__size {
    margin-left: 18px;
}

.item-footer {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #9797AF;
}

.item-provider {
    display: flex;
    margin-top: 4px;
}

.item-provider__provider-name {
    position: relative;
}

.item-provider__info-icon-wrapper {
    position: relative;
    margin-left: 8px;
}

.item-provider__info-icon {
    position: absolute;
    left: -2px;
    bottom: -1px;
}

.available-item__amount-info {
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.amount-info__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 44px;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 12px 8px 19px 12px;
    box-sizing: border-box;
}

.counter__value {
    width: 44px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.counter__minus, .counter__plus {
    display: flex;
    align-items: center;
}

.disabled {
    color: rgba(0, 0, 0, 0.2);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.amount-info__items-left {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #FF3B30;
}

.amount-info__action-buttons {
    display: flex;
    justify-content: end;
    margin-top: 8px;
}

.unavailable-item .amount-info__action-buttons {
    margin-top: 0;
}

.amount-info__favourite-button {
    margin-right: 16px;
}

.available-item__price {
    width: 110px;
    display: flex;
    flex-direction: column;
}

.price__discounted-price, .price__original-price {
    display: flex;
    justify-content: end;
}

.price__discounted-price {
    margin-top: -4px;
    align-items: end;
}

.discounted-price__value.small-price {
    font-size: 16px;
    line-height: 24px;
}

.discounted-price__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: right;
    margin-right: 6px;
}

.discounted-price__currency {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: right;
}

.price__original-price {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    border-bottom-style: dashed;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    text-decoration: line-through;
    color: #A0A0A4;
    margin-left: auto;
    margin-top: 6px;
}

.unavailable-item {
    color: #9797AF;
}

.unavailable-item__photo {
    width: auto;
    filter: grayscale(100%)
}

.unavailable-item__description {
    width: 309px;
}

.info-card-header {
    display: flex;
    margin-bottom: 16px;
}

.info-card__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
}

.delivery-card__section {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.delivery-card__section:last-of-type {
    margin-bottom: 0;
}

.info-card-button {
    border: none;
    color: #CB11AB;
    background: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: right;
    margin-left: auto;
    padding: 6px 0 0 0;
}

.delivery-card__section,
.delivery-point__rating-hours-box,
.delivery-point__rating {
    display: flex;
}

.delivery-card__subtitle {
    width: 153px;
}

.delivery-card__content {
    margin-left: 32px;
    font-weight: 400;
}

.delivery-point__rating-hours-box {
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px;
}

.delivery-point__rating-number {
    margin-left: 4px;
}

.delivery-point__active-hours {
    margin-left: 8px;
}

.delivery-interval__items-container {
    display: flex;
}

.delivery-card__item {
    background-size: 40px 56px;
    width: 40px;
    height: 56px;
    margin-right: 8px;
    border-radius: 8px;
}

.notification-indicator-base {
    position: relative;
}

.notification-indicator {
    position: absolute;
    top: -9px;
    right: -4px;
    background-color: #F55123;
    border-radius: 16px;
    height: 16px;
    min-width: 16px;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-indicator-value {
    margin: 0 5px 0 5px;
}


.delivery-card__item-photo {
    width: 40px;
    height: 56px;
}

.delivery-card__return-delivery {
    display: flex;
    align-items: center;
}

.result-block__return-delivery-text-block {
    display: block;
}

.delivery-card__return-delivery {
    margin-top: 24px;
}

.return-delivery__text-block {
    flex-wrap: wrap;
    margin-left: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    align-items: center;
}

.fake-link {
    text-decoration: none;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.return-delivery__link {
    color: #0CB477;
    border-color: rgba(12, 180, 119, 0.2);
}

.payment-card__paycard-info {
    display: flex;
    justify-content:start;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.paycard-info__paycard-number {
    margin-left: 8px;
}

.paycard-info__paycard-date {
    margin-left: 12px;
}

.payment-card__pay-on-receiving-info {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #9797AF;
    margin-top: 8px;
}

.receiver-card__main {
    padding-right: 143px;
}

.input-form-block {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 2px;
    height: 27px;
}

.input-form-receiver {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    top: -2px;
    position: absolute;
}

.input-form-receiver:focus + .label-input-form,
.input-form-receiver:not(:placeholder-shown) + .label-input-form{
    top: -17px;
    font-size: 13px;
    line-height: 16px;
}

.label-input-form {
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: text;
    transition: all 0.2s ease-in-out;
    color: #9797AF;
}

.receiver-card__section {
    display: flex;
}

.input-form-container {
    width: 100%;
}

.input-form-container:not(:first-child) {
    margin-left: 24px;
}

.input-form-upper-label {
    height: 16px;
}

.input-form-error {
    margin-top: 4px;
    height: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.result-block-section {
    margin-bottom: 24px;
}

.result-block__header {
    margin-bottom: 8px;
}

.result-block__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.result-block__title-sum {
    display: flex;
    align-items: end;
}

.title-sum__currency {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
}

.cost-calculations-section {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}

.cost-calculations__section-part {
    display: flex;
}

.result-block__change-button {
    position: relative;
}

.result-block__change-icon {
    position: absolute;
    right: 2px;
    top: 3px;
}

.result-block__delivery-info, .result-block__payment-info {
    margin-bottom: 12px;
}

.delivery-info-section {
    margin-bottom: 4px;
}

.delivery-info__header {
    display: flex;
    justify-content: space-between;
}

.delivery-info__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.delivery-info__address, .delivery-info__date {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.delivery-info__date {
    color: #CB11AB;
    border-color: rgba(203, 17, 171, 0.2);
}

.result-card__return-delivery {
    margin-top: 0
}

.delivery-info__return-delivery-block {
    margin-top: 12px;
    padding: 8px 8px 12px 8px;
    background: #F6F6FA;
    border-radius: 8px;
}

.payment-info__main {
    display: flex;
    align-items: center;
}

.payment-info__card-number {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
}

.payment-info__pay-now-block {
    margin-top: 12px;
    padding: 8px 8px 12px 8px;
    background: #F6F6FA;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.pay-now-block__check-to-pay-block {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.check-to-pay-block__check {
    height: auto;
}

#check-to-pay__custom-checkbox {
    position: initial;
    background: #F6F6FA;
    border-width: 1px;
}

#check-to-pay__real-checkbox:checked + #check-to-pay__custom-checkbox {
    background-color: #CB11AB;
    border: none;
}

.check-to-pay-block__text {
    margin-left: 8px;
}

.result-block__order-button-block {
    margin-bottom: 12px;
}

.order-button {
    width: 100%;
    color: #fff;
    height: 44px;
    font-weight: 700;
    background: #CB11AB;
    border-radius: 8px;
    border: none;
}

.result-block__accept_terms-of-use-block {
    display: flex;
    align-items: start;
}


.terms-of-use__check-icon {
    padding-top: 2px;
}

.terms-of-use__text {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.terms-of-use__text-link {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.terms-of-use__text-link:hover {
    color: #CB11AB;
    border-color: rgba(203, 17, 171, 0.2);
}

.item-params__size_mobile {
    display: none;
}

.mobile-tabbar {
    display: none;
}


@media only screen and (min-width: 1024px) {
    .result-block {
        max-width: 429px;
        min-width: 303px;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1263px){
    .terms-of-use__text {
        padding-right: 1px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1263px) {
    .receiver-card__main {
        padding-right: 0;
    }
}

@media only screen and (max-width: 1023px) {
    .main {
        padding: 15px 0 40px 0;
        display: block;
    }

    .main__container {
        min-width: 300px;
        padding: 0;
        margin-bottom: 16px;
    }

    .header__navbar, .searchbar {
        display: none;
    }

    .header {
        height: 56px;
        padding: 0 13px;
        align-items: center;
    }

    .menu-burger__container {
        height: 26px;
        width: 26px;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu-burger__lines-block {
        width: 22.5px;
        height: 18.5px;
        position: unset;
    }

    .menu-burger__line {
        height: 2px;
    }

    .menu-burger__line:last-of-type {
        width: 75%;
    }

    .company-name {
        width: 100%;
        transform: scale(1, 0.95);
        text-align: center;
        margin-left: 0;
        padding-bottom: 5px;
    }

    .header__searchbar {
        width: 24px;
    }

    .header__searchbar:after {
        top: -10px;
        right: 23px;
    }

    .main__cart-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.01em;
        text-align: left;
        margin: 0 0 16px 0;
        padding-left: 16px;
    }


    .info-card__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.01em;
        text-align: left;
    }

    .available-goods, .unavailable-goods {
        padding: 0 16px;
    }

    .available-goods {
        margin-bottom: 46px;
    }

    .unavailable-goods {
        margin-bottom: 32px;
    }

    .available-item__check-and-photo {
        position: relative;
    }

    .choose-item_checkbox-block {
        position: absolute;
        align-items: start;
        left: 4px;
        top: 4px;
    }

    .available-item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(5, auto);
    }

    .available-item:not(.available-item:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 17px;
        margin-bottom: 0;
    }

    .available-item__check-and-photo {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 1;
        width: 80px;
        align-items: start;
    }

    .item-photo {
        width: 80px;
        height: auto;
    }

    .available-item__price {
        grid-row-start: 1;
        grid-column-start: 2;
        flex-direction: row;
        width: 192px;
        margin: 0 0 0 16px;
    }

    .discounted-price__value {
        font-size: 16px;
        line-height: 24px;
    }

    .price__original-price {
        margin-left: 5px;
        align-items: end;
    }

    .available-item__description {
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 2;
        width: 100%;
        padding-right: 16px;
        box-sizing: border-box;
    }

    .item-name {
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item-params__size {
        display: none;
    }

    .available-item__amount-info {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 12px 0 0 0;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .item-provider {
        display: none;
    }

    .amount-info__counter {
        width: 80px;
        height: 32px;
        padding: 0 8px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.01em;
    }

    .counter__value {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        max-width: 23px;
    }

    .counter__plus, .counter__minus {
        padding-bottom: 6px;
    }

    .amount-info__items-left, .amount-info__action-buttons {
        margin-top: 0;
    }

    .amount-info__items-left {
        margin-right: 12px;
    }

    .amount-info__favourite-button {
        margin-right: 24px;
    }

    .amount-info__delete-button {
        margin-right: 12px;
    }

    .item-params__size_mobile {
        display: block;
        height: 22px;
        min-width: 22px;
        max-width: 72px;
        text-align: center;
        vertical-align: center;
        background-color: #FFFFFF;
        border-radius: 6px;
        position: absolute;
        bottom: 4px;
        left: 4px;
        font-size: 14px;
        line-height: 20px;
        padding: 2px 3px 0 3px;
        box-sizing: border-box;
        color: black;
    }

    .unavailable-goods .available-item:not(.available-item:last-of-type) {
        padding-bottom: 21px;
    }

    .unavailable-item__description {
        grid-row-start: 1;
    }

    .unavailable-item .amount-info__action-buttons {
        margin-left: auto;
    }

    .unavailable-item .amount-info__delete-button {
        margin-right: 4px;
    }

    .unavailable-goods .folding-header {
        padding-bottom: 18px;
    }

    .unavailable-item .amount-info {
        margin-top: 16px;
        padding-bottom: 3px;
    }

    .delivery-card__section {
        flex-direction: column;
    }

    .card {
        padding: 16px 16px 24px 16px;
    }

    .delivery-card__content {
        margin-left: 0;
    }

    .info-card-header {
        margin-bottom: 8px;
    }

    .delivery-interval__items-container {
        margin-top: 12px;
    }

    .delivery-card__delivery-interval {
        margin-bottom: 24px;
    }

    .delivery-card__return-delivery-block {
        margin: 0 8px;
    }

    .order-info-card:not(.order-info-card:last-of-type) {
        margin-bottom: 12px;
    }


    .receiver-card__section {
        flex-direction: column;
    }

    .input-form-container:not(:first-child) {
        margin-left: 0;
    }

    .input-form-block {
        height: 19px;
        margin-top: 4px;
    }

    .input-form-error {
        margin-top: 2px;
    }

    .input-form-container {
        margin-bottom: 16px;
    }

    .receiver-card__mail-phone-inn-block .input-form-container:last-child {
        margin-bottom: 0
    }

    .info-card-button {
        padding: 5px 0 0 0;
    }

    .label-input-form {
        bottom: 2px;
    }

    .input-form-receiver:focus + .label-input-form,
    .input-form-receiver:not(:placeholder-shown) + .label-input-form{
        top: -24px;
        font-size: 12px;
        line-height: 13px;
    }

    .result-block {
        background-color: #F6F6FA;
        box-shadow: none;
        padding: 8px 16px 0 16px;
        min-height: 378px;
    }

    .result-block-section {
        margin-bottom: 16px;
    }


    .result-block__delivery-info {
        display: none;
    }

    .delivery-info__return-delivery-block {
        background: #F0ECF4;
        margin-top: 0;
    }

    .result-block__payment-info {
        display: none;
    }

    .payment-info__pay-now-block {
        background: #F0ECF4;
        margin: 0 0 24px 0;
    }

    .mobile-tabbar {
        height: 56px;
        display: flex;
        background: #FFFFFF;
        padding: 14px 13px;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .mobile-icon {
        height: 28px;
        width: 28px;
    }

    .mobile-tabbar_cart {
        position: relative;
    }

    .cart__amount-indicator {
        right: -6px;
        top: -3px;
        color: #FFFFFF;
        line-height: 16px;
    }

    #check-to-pay-now {
        position: initial;
    }
}



