.hidden {
    display: none;
}

body {
    background: #6725A8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header {
    background: #6725A8;
    height: 88px;
    color: #FFFFFF;
}

.header__container {
    padding: 20px 24px;
    display: flex;
    align-content: center;
}

.header__nav-element {
    display: flex;
}

.menu-burger__container {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px 10px;
}

.menu-burger__lines-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 24px;
}

.menu-burger__line {
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.company-name {
    width: 100px;
    font-style: normal;
    font-weight: 600;
    transform: scale(1.1, 1);
    letter-spacing: 1px;
    font-size: 21px;
    margin-left: 22px;
}

.header__searchbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchbar {
    height: 100%;
    margin: 0 32px;
    padding: 0 20px;
    width: 100%;
    border-radius: 36px;
    background-color: #8551B9;
    border: none;
    outline: none;
}

.searchbar::placeholder {
    font-style: normal;
    font-size: 18px;
    color: #fff;
    opacity: .5;
}

.header__searchbar::after {
    content: url("../icons/Search.svg");
    position: relative;
    right: 73px;
    width: 0;
}

.header__navbar-container {
    display: flex;
}

.header__navbar-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 16px;
}

.header__navbar-icon {
    margin-bottom: 5px;
}

.profile__container {
    margin-right: 40px;
}

.profile__icon {

}

.cart__icon {
    transform: scale(-1, 1);
}

.cart__amount-indicator {
    background-color: #F55123;
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 16px;
    right: 28px;
    top: 16px;
    text-align: center;
    font-size: 10px;
}

.main {
    background-color: #F6F6FA;
    border-radius: 24px;
    min-height: 600px;
    padding: 24px 24px 50px 24px;
    display: flex;
}

.main__container {
    flex: 1;
    padding-right: 32px;
}

.main__cart-name {
    font-style: normal;
    font-size: 28px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 27px;
}

.available-goods {
    margin-bottom: 27px;
}

.folding-header {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
}

.choose-all_checkbox-block {
    display: flex;
}

.custom-checkbox {
    height: 22px;
    width: 22px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: solid 2px #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.real-checkbox:checked + .custom-checkbox {
    background-color: #CB11AB;
    border: none;
}

.custom-checkbox::before {
    content: url("../icons/Check.svg");
    transform: scale(0);
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: scale(1);
}

.choose-all__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 10px;
}

.choose-all__fold-flag {
    margin-left: auto;
}

.card {
    background-color: #FFFFFF;
    border-radius: 16px;
}

.result-block {
    position: sticky;
    top: 10px;
    min-width: 429px;
    height: 572px;
    padding: 16px 24px 24px 24px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.3);
}

.available-item {
    display: flex;
    padding-top: 12px;
}

.available-item:not(.available-item:last-of-type) {
    margin-bottom: 19px;
}

.unavailable-goods {
    margin-bottom: 29px;
}

.unavailable-goods__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

}

.order-info-card {
    min-height: 136px;
    width: auto;
    padding: 16px 24px 24px 24px;
}

.order-info-card:not(.order-info-card:last-of-type) {
    margin-bottom: 16px;
}

.footer {
    height: 64px;
    background-color: #6725A8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}



.available-item__check-and-photo {
    width: 106px;
    display: flex;
    justify-content: space-between;
}

.available-item__amount-info {
    width:  100px;
}

.choose-item_checkbox-block {
    display: flex;
    align-items: center;
    height: 96px;
}

.item-photo {
    width: 72px;
    height: 96px;
    object-fit: contain;
}

.available-item__description {
    width: 275px;
    margin-left: 16px;
}

.item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.item-params {
    display: flex;
    margin-top: 8px;
}

.item-params-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
}

.item-params__size {
    margin-left: 18px;
}

.item-footer {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #9797AF;
}

.item-provider {
    display: flex;
    margin-top: 4px;
}

.item-provider__info-icon {
    margin-left: 8px;
    position: relative;
    bottom: 2px;
    right: 1px;
}

.available-item__amount-info {
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.amount-info__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 44px;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 12px 8px 19px 12px;
    box-sizing: border-box;
}

.counter__value {
    width: 44px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.counter__minus, .counter__plus {
    display: flex;
    align-items: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.amount-info__items-left {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #FF3B30;
}

.amount-info__action-buttons {
    display: flex;
    justify-content: end;
    margin-top: 8px;
}

.amount-info__favourite-button {
    margin-right: 16px;
}

.available-item__price {
    width: 110px;
    display: flex;
    flex-direction: column;
}

.price__discounted-price, .price__original-price {
    display: flex;
    justify-content: end;
}

.price__discounted-price {
    margin-top: -4px;
    align-items: end;
}

.discounted-price__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: right;
    margin-right: 6px;
}

.discounted-price__currency {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: right;
}

.price__original-price {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    border-bottom-style: dashed;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    text-decoration: line-through;
    color: #A0A0A4;
    margin-left: auto;
    margin-top: 6px;
}

.unavailable-item {
    color: #9797AF;
}

.unavailable-item__photo {
    width: auto;
    filter: grayscale(100%)
}

.unavailable-item__description {
    width: 309px;
}

.delivery-card__header {
    display: flex;
    margin-bottom: 16px;
}

.delivery-card__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
}

.delivery-card__section {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.delivery-card__section:last-of-type {
    margin-bottom: 0;
}

.info-card-button {
    border: none;
    color: #CB11AB;
    background: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: right;
    margin-left: auto;
    padding: 6px 0 0 0;
}

.delivery-card__section,
.delivery-point__rating-hours-box,
.delivery-point__rating {
    display: flex;
}

.delivery-card__subtitle {
    width: 153px;
}

.delivery-card__content {
    margin-left: 32px;
    font-weight: 400;
}

.delivery-point__rating-hours-box {
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px;
}

.delivery-point__rating-number {
    margin-left: 4px;
}

.delivery-point__active-hours {
    margin-left: 8px;
}

.delivery-interval__items-container {
    display: flex;
}

.delivery-card__item {
    background-size: 40px 56px;
    width: 40px;
    height: 56px;
    margin-right: 8px;
    border-radius: 8px;
}

.notification-indicator-base {
    position: relative;
}

.notification-indicator {
    position: absolute;
    top: -9px;
    right: -4px;
    background-color: #F55123;
    border-radius: 16px;
    height: 16px;
    min-width: 16px;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-indicator-value {
    margin: 0 5px 0 5px;
}


.delivery-card__item-photo {
    width: 40px;
    height: 56px;
}

.delivery-card__return-delivery, .return-delivery__text-block {
    display: flex;
}

.delivery-card__return-delivery {
    margin-top: 24px;
}

.return-delivery__text-block {
    flex-wrap: wrap;
    margin-left: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    align-items: center;
}

.return-delivery__link {
    color: #0CB477;
    text-decoration: none;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

